<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.xhb.plugin.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	//获取登录用户名字
	if($.cookie("node_username")) $(".user_txt_span").text($.cookie("node_username"));
	
	//获取当前页面路由
//	var sPathname = window.location.pathname;
//	$('[href="'+ sPathname +'"]').parent("li").addClass("active").siblings().removeClass("active");
</script>